@{
    ViewBag.Title = "Signup";
}

<div class="sufee-login d-flex align-content-center flex-wrap" id="app">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <a href="index.html">
                    <img class="align-content" src="~/Images/logo.png" alt="">
                </a>
            </div>
            <div class="login-form">
                <form v-on:submit.prevent="onSubmit()">
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" placeholder="Email" v-model="model.email" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" v-model="model.password" required>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Password" v-model="model.confirm_password" required>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Agree the terms and policy
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30 my-2">
                        Signup
                    </button>
                    <div class="register-link m-t-15 text-center">
                        <p>Already have account ? @Html.ActionLink("Sign in", "Signin")</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        (function ($) {
            var app = new Vue({
                el: "#app",
                data: {
                    model: {}
                },
                methods: {
                    onSubmit: function () {
                        $.ajax({
                            method: 'post',
                            data: this.model,
                            success: function (result) {
                                console.log("result", result);
                            },
                            error: function (error) {
                                console.log("error", error);
                            }
                        });
                    }
                }
            });
        })(jQuery);
    </script>
}